.layout {
  width: 1312px;
}

.front-termin-block .termin-block {
  background: url(.././img/1613387177_24.webp) 50% 60% no-repeat;
  background-size: cover;
}

.front-termin-block .termin-block.complex {
  background: url(.././img/1613387177_24.webp) 50% 100% no-repeat;
  background-size: cover;
}

.front-termin-block .termin-block.flats {
  background: url(.././img/1613387177_24.webp) 50% 15% no-repeat;
  background-size: cover;
}

.front-termin-block .termin-block > a {
  width: 646px;
}

#wrap-page.front #two-box {
  width: 1312px;
}

#wrap-page #two-box .blog-last-post .content .one-box {
  width: calc( 100% - 278px);
}

#search-filter .right-box {
  width: 1040px;
}

#search-filter .left-box {
  width: 257px;
}

#search-filter input[type=text] {
  width: 100%;
}

.object-sidebarMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.object-sidebarMenu .sidebarMenu__item {
  margin: 0 15px 0 0;
  line-height: 38px;
}

.object-sidebarMenu .siderbarTab-active {
  display: block;
}

.object {
  margin-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
}

.object__prev {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 1px solid #eeeeee;
  margin-right: 4px;
}

.object__prev-icon {
  display: block;
  width: 10px;
  height: 17px;
  background: url(".././img/arrowSliderIcon.svg") 50% no-repeat;
  background-size: cover;
}

.object__next {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 1px solid #eeeeee;
}

.object__next-icon {
  display: block;
  width: 10px;
  height: 17px;
  background: url(".././img/arrowSliderIcon.svg") 50% no-repeat;
  background-size: cover;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.object__elem {
  width: 100%;
  height: 100%;
  position: relative;
}

.object__elem::after {
  background: none;
}

.object__item {
  max-width: 336px;
  display: inline-block;
}

.object__sliderInner .tns-item img {
  min-width: 304px;
  height: 228px;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.object__image .tns-outer {
  width: 100%;
  height: 100%;
}

.object__image .tns-ovh {
  width: 100%;
  height: 100%;
}

.object__image .tns-inner {
  width: 100%;
  height: 100%;
}

.object__image .object__sliderInner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.object .tns-controls button {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 1px solid #eeeeee;
  background: #fff;
  position: absolute;
  top: 110px;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.object .tns-controls button:nth-of-type(1) {
  left: 16px;
}

.object .tns-controls button:nth-of-type(2) {
  right: 16px;
}

.object__desc-two .object__text {
  width: calc( 100% / 2 - 20px);
  margin: 0 10px;
}

.object__text-bold {
  display: block;
  font-weight: bold;
}
