
@media screen and ( min-width: 768px )
    nav ul li .container
        top: 100%
@media screen and (max-width: 767px)
    body.open-menu .headerBottom .mobile_m .one, body.overflow-search .headerBottom .mobile_m .one, body.open-sidebar .headerBottom .mobile_m .one
        -webkit-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        transform: rotate(45deg)
        margin-top: 25px
    body.open-menu .headerBottom .mobile_m .two, body.overflow-search .headerBottom .mobile_m .two, body.open-sidebar .headerBottom .mobile_m .two
        -webkit-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        transform: rotate(-45deg)
        margin-top: -2px
    body.open-menu .headerBottom .mobile_m .three, body.overflow-search .headerBottom .mobile_m .three, body.open-sidebar .headerBottom .mobile_m .three
        -webkit-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        transform: rotate(-45deg)
        margin-top: -2px
    body.overflow-search .headerBottom .mobile_m span
        background: #fff
    body.overflow-search .headerBottom .w-page:before
        content: ''
        display: block
        width: 100%
        height: 60px
        background: #000
        left: 0
        top: 0
        position: fixed
        z-index: 9
        background: rgba(0, 0, 0, .8)
    header .headerBottom .btn
        position: absolute
        top: 20px
        right: 20px
        left: auto
        width: 150px
        height: 40px
        padding: 0
        background: #4caf50
        box-shadow: 0 8px 6px -8px rgba(0, 0, 0, 30%)
        border-radius: 3px
        font-size: 14px
        line-height: 40px
        color: #fff
        text-transform: none
        text-align: center
        cursor: pointer
    header .headerBottom .headerBottom__contact
        display: block
        position: absolute
        top: 20px
        left: 20px
        font-size: 19px
        line-height: 40px
        color: #fff
        text-decoration: none
        text-shadow: none
        transition: .2s ease-in
    header .headerTop
        display: none
    header .headerBottom__logo
        height: 38px
    header .headerBottom .w-page
        height: 52px
        padding: 7px
        position: fixed
        top: 0
        left: 0
        width: 100%
        box-shadow: 0 8px 6px -8px rgba(0, 0, 0, 30%) !important
        background: #fff
        z-index: 8
        padding: 7px
        display: flex
        align-items: center
        justify-content: center
    header .vesco-block img
        display: block
        width: 100%
        height: auto
        max-height: 52px
        display: block !important
        padding: 7px
    header .mobile_m
        width: 52px
        height: 52px
        position: absolute
        left: 0
        top: 0
        z-index: 10
        cursor: pointer
        span
            width: 22px
            height: 2px
            background: #3F4248
            margin: 0 auto
            display: block
            transition: background .5s linear, transform .5s
        .one
            margin-top: 18px
        .two, .three
            margin-top: 6px
    header .mobile_p
        position: absolute
        right: 5px
        top: 0
        mask: url('../images/phone.svg') 50% no-repeat
        mask-size: 25px
        background-color: #4285f4
        width: 52px
        height: 52px
        border-radius: 6px
        cursor: pointer
    .front-termin-block .termin-block.flats
        background: url(.././img/1613387177_24.webp) 50% 15% no-repeat
        background-size: 200%
    .front-termin-block .termin-block
        background: url(.././img/1613387177_24.webp) 50% 60% no-repeat
        background-size: 150%
    .front-termin-block .termin-block.complex
        background: url(.././img/1613387177_24.webp) 50% 100% no-repeat
        background-size: 300%
    #wrap-page #two-box
        padding: 0 20px
    #wrap-page #two-box .property-front
        margin: 0 0 30px
    .object-sidebarMenu
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
    .object-sidebarMenu .sidebarMenu__item
        margin: 0 15px 0 0
        line-height: 38px
    .sidebarMenu__item
        -webkit-transition: color .5s
        -o-transition: color .5s
        transition: color .5s
        display: inline-block
        font-size: 15px
        line-height: 24px
        text-transform: uppercase
        font-weight: bold
        color: #A4A4A4
        margin-bottom: 24px
    .sidebarMenu__item-active
        -webkit-text-decoration: underline dotted #00A046
        text-decoration: underline dotted #00A046
        color: #000000
    .object
        margin-bottom: 50px
        width: 100%
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: stretch
        -ms-flex-align: stretch
        align-items: stretch
        position: relative
    .siderbarTab
        display: none
    .object
        &__elem
            width: 100%
            position: relative
            overflow-y: hidden
        .siderbarTab-active
            display: block
        & .tns-controls button
            padding: 0
            display: flex
            -webkit-box-align: center
            -ms-flex-align: center
            align-items: center
            -webkit-box-pack: center
            -ms-flex-pack: center
            justify-content: center
            width: 38px
            height: 38px
            border: 1px solid #eeeeee
            background: #fff
            position: absolute
            top: 110px
            z-index: 2
            transform: translateY(-50%)

        & .tns-controls button:nth-of-type(1)
            left: 16px

        & .tns-controls button:nth-of-type(2)
            right: 16px
        &__next
            cursor: pointer
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            -webkit-box-align: center
            -ms-flex-align: center
            align-items: center
            -webkit-box-pack: center
            -ms-flex-pack: center
            justify-content: center
            width: 38px
            height: 38px
            border: 1px solid #eeeeee
        &__prev-icon
            display: block
            width: 10px
            height: 17px
            background: url(.././img/arrowSliderIcon.svg) 50% no-repeat
            background-size: cover
        &__next-icon
            display: block
            width: 10px
            height: 17px
            background: url(.././img/arrowSliderIcon.svg) 50% no-repeat
            background-size: cover
            -webkit-transform: rotate(180deg)
            transform: rotate(180deg)
        &__image
            position: relative
            width: 100%
            height: 228px
        &__image .tns-outer
            width: 100%
            height: 100%
        &__image .tns-ovh
            width: 100%
            height: 100%
        &__image .tns-inner
            width: 100%
            height: 100%
        &__image .object__sliderInner
            width: 100%
            height: 100%
            overflow-y: hidden
        &__image img
            width: 100%
            height: 100%
            -o-object-fit: cover
            object-fit: cover

        & .tns-nav
            z-index: 2
            position: absolute
            bottom: 10px
            left: 0
            right: 0
            padding: 0 44px
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            -webkit-box-align: center
            -ms-flex-align: center
            align-items: center
            margin: 0 -4px
        & .tns-nav button
            border: none
            margin: 0 4px
            width: calc( 100% - 8px)
            height: 3px
            background: #ffffff
            opacity: 0.4
        & .tns-nav .tns-nav-actove
            opacity: 1

        &__overlay
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            -webkit-box-pack: end
            -ms-flex-pack: end
            justify-content: flex-end
            -webkit-box-align: start
            -ms-flex-align: start
            align-items: flex-start
        &__content
            border: 1px solid #F1F1F1
            -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 5%)
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 5%)
            padding: 30px
        &__title
            font-weight: 600
            font-size: 24px
            line-height: 24px
            color: #000000
            margin-bottom: 8px
        &__street
            font-size: 14px
            line-height: 17px
            color: #A4A4A4
            margin-bottom: 24px
        &__hr
            border: 1px solid #F1F1F1
            margin-bottom: 24px
        &__desc
            display: -webkit-box
            display: -ms-flexbox
            display: flex
            -webkit-box-align: center
            -ms-flex-align: center
            align-items: center
            margin: 0 -10px
        &__text
            width: calc( 100% / 3 - 20px)
            margin: 0 10px
        &__text-bold
            display: block
            font-weight: bold
        &__desc-two .object__text
            width: calc( 100% / 2 - 20px)
            margin: 0 10px

    #wrap-page #two-box #block-block-2, #wrap-page #two-box #inform-block-description section
        margin: 30px 0
        padding: 20px
        background: #F1F6F7
        border-radius: 4px
        position: relative
    #search-filter span.icon-arrow-down, #wrap-page #two-box #block-block-2 .button, #wrap-page #two-box #inform-block-description section .button
        display: inline-block
        background-image: url(.././img/arrow-down.svg) !important
        background-repeat: no-repeat !important
        background-position: 50% !important
        width: 12px
        height: 10px
        background-size: 12px !important
        fill: #fff
        opacity: .7
    #wrap-page #two-box #block-block-2 .button, #wrap-page #two-box #inform-block-description section .button
        display: block
        position: absolute
        left: 50%
        margin-left: -30px
        bottom: -35px
        width: 50px
        height: 50px
        border-radius: 50px
        background: #fff
        font-size: 24px
        line-height: 52px
        text-align: center
        cursor: pointer
        -webkit-transition: .25s
        -moz-transition: .25s
        -o-transition: .25s
        transition: .25s
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 5%)
        opacity: 1 !important
        background-size: 18px !important
    #wrap-page #two-box #block-block-2 .button.icon-arrow-up
        -webkit-transform: rotate(180deg)
        -moz-transform: rotate(180deg)
        -ms-transform: rotate(180deg)
        -o-transform: rotate(180deg)
        transform: rotate(180deg)
    #wrap-page #two-box #block-block-2 .block-content, #wrap-page #two-box #inform-block-description section .block-content
        overflow: hidden
        max-height: 260px
        -webkit-transition: max-height .5s
        transition: max-height .5s
    #wrap-page #two-box #block-block-2 .block-content.open, #wrap-page #two-box #inform-block-description section .block-content.open
        max-height: 100%

    footer
        .footerTop
            padding: 50px 0
            background: #F7F7F7
        .footerMiddle
            padding: 50px 0
            background: #111111
        .footerBottom
            padding: 20px 0
            background: #000000
        .w-page
            padding: 0 20px
        .footerTop__items
            display: flex
            align-items: flex-start
            flex-wrap: wrap
            margin: 0 -16px -16px
        .footerTop__item
            margin: 0 16px 16px
            width: calc( 100% / 2 - 32px )
            display: flex
            flex-direction: column
        .footerTop__title
            font-weight: 600
            font-size: 16px
            line-height: 24px
            color: #000000
            margin-bottom: 20px
        .footerTop__line
            border: 1px solid #E8E8E8
            margin: 0 0 20px
        .footerTop__link
            font-size: 14px
            line-height: 17px
            color: #717171
            margin-bottom: 24px
        .footerMiddle__items
            display: flex
            align-items: flex-start
            flex-wrap: wrap
            margin: 0 -16px -16px
        .footerMiddle__item
            margin: 0 16px 16px
            width: calc( 100% / 2 - 32px )
            display: flex
            flex-direction: column
        .footerMiddle__text
            font-size: 13px
            line-height: 24px
            color: #676767
        .footerMiddle__link
            font-size: 13px
            line-height: 24px
            -webkit-text-decoration-line: underline
            text-decoration-line: underline
            color: #676767
        .footerBottom__text
            font-size: 12px
            text-align: center
            color: #4D4D4D

@media screen and ( max-width: 600px )
    header .headerBottom__list
        margin-top: 100px
        padding: 0 20px
    header .headerBottom .headerBottom__contact
        text-align: center
        width: calc(100% - 40px)
        top: 70px
        font-size: 14px
        line-height: 35px
    header .headerBottom .headerBottom__contact .headerBottom__call
        display: block
        font-size: 20px
        font-weight: bold
    header nav .headerBottom__list
        margin-top: 140px
    header nav .headerBottom__list .headerBottom__item a
        padding: 0
    header nav .headerBottom__list .headerBottom__item .container ul
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
    header nav .headerBottom__list .headerBottom__item .container ul li a
        padding: 0
        font-size: 14px
    header .headerBottom .btn
        left: 20px
        right: 20px
        width: calc(100% - 40px)
@media screen and ( max-width: 425px )
    .object__content
        padding: 20px
    .front-termin-block .termin-block.flats
        background: url(.././img/1613387177_24.webp) 50% 15% no-repeat
        background-size: 200%
    .front-termin-block .termin-block
        background: url(.././img/1613387177_24.webp) 50% 60% no-repeat
        background-size: 200%
    .front-termin-block .termin-block.complex
        background: url(.././img/1613387177_24.webp) 50% 100% no-repeat
        background-size: 400%
    .object-sidebarMenu
        flex-wrap: wrap
    footer
        .footerTop__item
            width: calc( 100% / 1 - 32px )
        .footerMiddle__item
            width: calc( 100% / 1 - 32px )
