.object
    margin-bottom: 50px
    width: 100%
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: stretch
    -ms-flex-align: stretch
    align-items: stretch
    position: relative

    & .sidebarMenu
        height: 100%

    & .siderbarTab-active
        display: block

    &__controls
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        position: absolute
        bottom: 0
        left: 0

    &__prev
        cursor: pointer
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        width: 38px
        height: 38px
        border: 1px solid #eeeeee
        margin-right: 4px

    &__prev-icon
        display: block
        width: 10px
        height: 17px
        background: url('.././img/arrowSliderIcon.svg') 50% no-repeat
        background-size: cover

    &__next
        cursor: pointer
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        width: 38px
        height: 38px
        border: 1px solid #eeeeee

    &__next-icon
        display: block
        width: 10px
        height: 17px
        background: url('.././img/arrowSliderIcon.svg') 50% no-repeat
        background-size: cover
        -webkit-transform: rotate(180deg)
        -ms-transform: rotate(180deg)
        transform: rotate(180deg)

    &__elem
        width: 85%
        height: 100%
        position: relative

    &__elem::after
        content: ''
        position: absolute
        width: 13%
        top: 0
        right: 0
        bottom: 0
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.6)))
        background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6))
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6))

    &__slider
        width: 100%

    &__item
        background: #ffffff
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none

    &__image
        position: relative
        width: 100%
        height: 228px

    &__image img
        width: 100%
        height: 100%
        -o-object-fit: cover
        object-fit: cover
        object-position: center

    &__image .tns-outer
        width: 100%
        height: 100%

    &__image .tns-ovh
        width: 100%
        height: 100%

    &__image .tns-inner
        width: 100%
        height: 100%

    &__image .object__sliderInner
        width: 100%
        height: 100%

    &__overlay
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-pack: end
        -ms-flex-pack: end
        justify-content: flex-end
        -webkit-box-align: start
        -ms-flex-align: start
        align-items: flex-start

    &__tag
        width: 40px
        height: 40px
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
        background: rgba(0, 0, 0, 0.8)

    &__tag-disc
        display: block
        width: 20px
        height: 20px
        background: url('.././img/discountIcon.svg') 50% no-repeat
        background-size: cover

    &__tag-flame
        display: block
        width: 20px
        height: 20px
        background: url('.././img/flameIcon.svg') 50% no-repeat
        background-size: cover

    & .tns-nav
        z-index: 2
        position: absolute
        bottom: 10px
        left: 0
        right: 0
        padding: 0 44px
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        margin: 0 -4px

    & .tns-nav button
        border: none
        margin: 0 4px
        width: calc(100% - 8px)
        height: 3px
        background: #ffffff
        opacity: 0.4

    & .tns-nav .tns-nav-active
        opacity: 1

    &__content
        border: 1px solid #f1f1f1
        -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05)
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05)
        padding: 30px

    &__title
        font-weight: 600
        font-size: 24px
        line-height: 24px
        color: #000000
        margin-bottom: 8px

    &__street
        font-size: 14px
        line-height: 17px
        color: #a4a4a4
        margin-bottom: 24px

    &__hr
        border: 1px solid #f1f1f1
        margin-bottom: 24px

    &__desc
        display: -webkit-box
        display: -ms-flexbox
        display: flex
        -webkit-box-align: center
        -ms-flex-align: center
        align-items: center
        margin: 0 -10px

    &__text
        width: calc(100% / 3 - 20px)
        margin: 0 10px

    &__text-bold
        display: block
        font-weight: bold

@media screen and ( min-width: 768px )
    nav ul li .container
        top: 100%
@media screen and (max-width: 767px)
    body.open-menu .headerBottom .mobile_m .one, body.overflow-search .headerBottom .mobile_m .one, body.open-sidebar .headerBottom .mobile_m .one
        -webkit-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        transform: rotate(45deg)
        margin-top: 25px
    body.open-menu .headerBottom .mobile_m .two, body.overflow-search .headerBottom .mobile_m .two, body.open-sidebar .headerBottom .mobile_m .two
        -webkit-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        transform: rotate(-45deg)
        margin-top: -2px
    body.open-menu .headerBottom .mobile_m .three, body.overflow-search .headerBottom .mobile_m .three, body.open-sidebar .headerBottom .mobile_m .three
        -webkit-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        transform: rotate(-45deg)
        margin-top: -2px
    body.overflow-search .headerBottom .mobile_m span
        background: #fff
    body.overflow-search .headerBottom .w-page:before
        content: ''
        display: block
        width: 100%
        height: 60px
        background: #000
        left: 0
        top: 0
        position: fixed
        z-index: 9
        background: rgba(0, 0, 0, .8)
    header .headerBottom .btn
        position: absolute
        top: 20px
        right: 20px
        left: auto
        width: 150px
        height: 40px
        padding: 0
        background: #4caf50
        box-shadow: 0 8px 6px -8px rgba(0, 0, 0, 30%)
        border-radius: 3px
        font-size: 14px
        line-height: 40px
        color: #fff
        text-transform: none
        text-align: center
        cursor: pointer
    header .headerBottom .headerBottom__contact
        display: block
        position: absolute
        top: 20px
        left: 20px
        font-size: 19px
        line-height: 40px
        color: #fff
        text-decoration: none
        text-shadow: none
        transition: .2s ease-in
    header .headerTop
        display: none
    header .headerBottom__logo
        height: 38px
    header .headerBottom .w-page
        height: 52px
        padding: 7px
        position: fixed
        top: 0
        left: 0
        width: 100%
        box-shadow: 0 8px 6px -8px rgba(0, 0, 0, 30%) !important
        background: #fff
        z-index: 8
        padding: 7px
        display: flex
        align-items: center
        justify-content: center
    header .vesco-block img
        display: block
        width: 100%
        height: auto
        max-height: 52px
        display: block !important
        padding: 7px
    header .mobile_m
        width: 52px
        height: 52px
        position: absolute
        left: 0
        top: 0
        z-index: 10
        cursor: pointer
        span
            width: 22px
            height: 2px
            background: #3F4248
            margin: 0 auto
            display: block
            transition: background .5s linear, transform .5s
        .one
            margin-top: 18px
        .two, .three
            margin-top: 6px
    header .mobile_p
        position: absolute
        right: 5px
        top: 0
        mask: url('../images/phone.svg') 50% no-repeat
        mask-size: 25px
        background-color: #4285f4
        width: 52px
        height: 52px
        border-radius: 6px
        cursor: pointer
@media screen and ( max-width: 600px )
    header .headerBottom__list
        margin-top: 100px
        padding: 0 20px
    header .headerBottom .headerBottom__contact
        text-align: center
        width: calc(100% - 40px)
        top: 70px
        font-size: 14px
        line-height: 35px
    header .headerBottom .headerBottom__contact .headerBottom__call
        display: block
        font-size: 20px
        font-weight: bold
    header nav .headerBottom__list
        margin-top: 140px
    header nav .headerBottom__list .headerBottom__item a
        padding: 0
    header nav .headerBottom__list .headerBottom__item .container ul
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
    header nav .headerBottom__list .headerBottom__item .container ul li a
        padding: 0
        font-size: 14px
    header .headerBottom .btn
        left: 20px
        right: 20px
        width: calc(100% - 40px)
